{
    "plugins": [
        "@babel/plugin-syntax-export-default-from",
        "@babel/plugin-proposal-object-rest-spread",
        "@babel/plugin-syntax-dynamic-import",
        "@babel/plugin-transform-typescript"
    ],

    "ignore": [],

    "presets": [
        "@babel/env",
        "@babel/typescript"
    ]
}