
// Main styling for the side bar menu.

// Load required modules.
@import "../modules/colors.scss";

.menu {
    // Set the background color.
    .background {
        background-color: $color-background;
    }

    // Set the color for currently active elements.
    .content, .selected {
        color: white;
        background-color: $color-highlight;
    }
}
